#overlay-ad {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0b3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

#overlay-ad img,
#overlay-ad video {
    max-width: 80vw;
    max-height: 80vh;
}

#overlay-ad button {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay-ad video::-webkit-media-controls-volume-slider-container,
#overlay-ad video::-webkit-media-controls-volume-slider,
#overlay-ad video::-webkit-media-controls-mute-button {
    display: none;
    -webkit-appearance: none;
}

#ad-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wrap {
    height: 100%;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
