html,
body {
    box-sizing: border-box;
    background-color: white;
    padding: 0;
    margin: 0;
}

main {
    min-width: 300px;
}

main > * {
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 1em;
    font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Disable switch */
.switch.switch-disabled {
    pointer-events: none;
    opacity: 40%;
}

.switch.switch-disabled > .slider {
    background-color: lightgray;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

#options {
    padding: 1em;
}

#options > ul {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#options > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
